/*
Link to GitHub page: https://github.com/TapasSingha/Systematic_grid_flexbox_layout/blob/main/style.css 
*/
/*Link to codepen link https://codepen.io/TapasSingha/pen/jOwNxmx?editors=1100*/
*{
    padding:0;
    margin:0;
    text-align:center;
    color:#fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
}
li{
    list-style-type:none;
    display:inline-block;
    padding-right:8px;
    margin-right:2px; 
    position:relative;
}
#top-link li::after{
    /*Give it a width, height and content:"". Then make it position absolute in the context of its parent (li)being position:relative. Now it should render on screen. 
    */
    content:"";
    position:absolute;
    background-color:#fff;
    width:2px;
    height:12px;
    /*About the alignment, I measured the distance between each li in the design (10px), and divided it into padding-right (8px) and margin-right (2px) and gave them to the li above. Then placed the bars to the far-right by making the li::after right:0. Now the bars are almost perfectly centered between each li's. */
    top:3px;
    right:0;
}
/*Made the last vertical bar disappear with the following code*/
li:last-of-type::after{
    display:none;
}
a{
    text-decoration:none;
    display:block;
}   

.wrapper{
    max-width:1040px;
    margin-right:auto;
    margin-left:auto;
}
.top-head{
    background-color:#ba2e1f;
    min-height:51px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#search{
    min-width:210px;
    min-height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#fff;
    border-radius:25px;
}
#search form{
    display:flex;
    align-items:center;
}

#search form *{
    border:none;
}
/*_________________________________________________
Instruction: 
    Increase the gap between the search-text and the top and bottom celing of search form

Status: Completed by assigning height and using flexbox.
___________________________________________________*/

#search input[type="text"]{  
    border-radius:25px;
    height:18px; 
    width:182px;
    margin-right:3px;
}
#search input[type="submit"]{
    background:url(/images/search.png) no-repeat;
    width:18px;
    height:18px;
    cursor:pointer;
}

/*Mid-head*/
.mid-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:135px;
    outline:1px solid black;
    /*Instruction: Remove this outline when you start the bottom-head. Its only purpose was to show its borders */
}

#social li{
    background-color:#333;
    width:15px;
    height:15px;
    /*Assigned fixed width and height so as to give them unifrom size*/
    border-radius:50%;
    padding:7px;
    /*Added padding to get the desired width and height*/
    margin-left:5px;
    /*There was some margin already at work so giving it 10px margin would have made it bigger*/
}
