/*
Link to GitHub page: https://github.com/TapasSingha/Systematic_grid_flexbox_layout/blob/main/style.css 
*/
/*Link to codepen link https://codepen.io/TapasSingha/pen/jOwNxmx?editors=1100*/
*{
    padding:0;
    margin:0;
    text-align:center;
    color:#fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    max-width:100%;
}
li{
    list-style-type:none;
    display:inline-block;
    padding-right:8px;
    margin-right:2px; 
    position:relative;
}
#top-link li::after{
    /*Give it a width, height and content:"". Then make it position absolute in the context of its parent (li)being position:relative. Now it should render on screen. 
    */
    content:"";
    position:absolute;
    background-color:#fff;
    width:2px;
    height:12px;
    /*About the alignment, I measured the distance between each li in the design (10px), and divided it into padding-right (8px) and margin-right (2px) and gave them to the li above. Then placed the bars to the far-right by making the li::after right:0. Now the bars are almost perfectly centered between each li's. */
    top:3px;
    right:0;
}
/*Made the last vertical bar disappear with the following code*/
li:last-of-type::after{
    display:none;
}
a{
    text-decoration:none;
    display:block;
}   

.wrapper{
    max-width:1040px;
    margin-right:auto;
    margin-left:auto;
}
.top-head{
    background-color:#ba2e1f;
    min-height:51px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#search{
    min-width:210px;
    min-height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#fff;
    border-radius:25px;
}
#search form{
    display:flex;
    align-items:center;
}

#search form *{
    border:none;
}
/*_________________________________________________
Instruction: 
    Increase the gap between the search-text and the top and bottom celing of search form

Status: Completed by assigning height and using flexbox.
___________________________________________________*/

#search input[type="text"]{  
    border-radius:25px;
    height:18px; 
    width:182px;
    margin-right:3px;
}
#search input[type="submit"]{
    background:url(/images/search.png) no-repeat;
    width:18px;
    height:18px;
    cursor:pointer;
}

/*Mid-head*/
.mid-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:135px;
}

#social li{
    background-color:#333;
    width:15px;
    height:15px;
    /*Assigned fixed width and height so as to give them unifrom size*/
    border-radius:50%;
    padding:7px;
    /*Added padding to get the desired width and height*/
    margin-left:5px;
    /*There was some margin already at work so giving it 10px margin would have made it bigger*/
}
/*=============HOVER EFFECT===========*/
#social li.lin:hover{
    background:#017480;
    border-radius:50%;
}
#social li.twit:hover{
    background:#41B7E5;
}
#social li.gplus:hover{
    background:#D64134;
}
#social li.pint:hover{
    background:#DE2A32;
}
#social li.rss:hover{
    background:#EE802F;
}

.bot-head{
    min-height:2.5rem; /*2.5rem or 40px*/
    width:100%;
    background-color:#333;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.bot-head:after{
    content:"";
    width:inherit;
    min-height:50%; /*1.1875rem or 19px*/
    position:absolute;
    /*Without width and height it cannot be rendered as it has no content. Width, height, content, and position:absolute are necessary to display content like this.*/
    left:0;
    background-color:#2b2b2b;
    align-self:flex-end;
}
.bot-head ul{
    z-index:1;
    /*Without z-index, the bottom part override the ul*/
    gap:12px
}
/*.bot-head ul{
    z-index:1;
    display:grid;
    grid-template-columns: repeat(8, 1fr); comment-How do I make the grid responsive?
    place-items:center;    
    column-gap:12px
}*/
.bot-head a:hover{
    color:#ba2e1f;
}
/*==============HERO SECTION================*/
.hero{
    display:grid;
    grid-template-columns:1fr 2rem 1.3fr;
    grid-template-areas:
    "hero-img . hero-text";
}
.hero-img{
    grid-area:hero-img;  
    justify-self:start;
}
.hero-text{
    grid-area:hero-text;
}
.hero *{
    color:black;
    text-align:left;
}
.hero-text{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:2fr 4fr 2fr 1fr;
    grid-template-areas:
    "."
    "h1"
    "p"
    "a";
}
.hero-img{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hero-text h1{
    font-size:86px;
    font-weight:200;
    letter-spacing: 2px;
    text-transform: uppercase;
    grid-area:h1;
}
.hero-text p{
    grid-area:p;
    line-height:24px;
    color:#666;
}
.hero-text a{
    grid-area:a;
    text-transform:uppercase;
}
.read-more-link{
    color:#ba2e1f;
    text-align:right;
    text-transform:capitalize;
    position:relative;
}
.hero-text a:after{
    content:url(images/search.png);
    position:absolute;
}
@media screen and (max-width:800px){
    .hero{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2, 1rem 1fr);
        grid-template-areas:
        "."
        "hero-img"
        "."
        "hero-child";
    }
    .hero p, .hero h1{
        text-align:center;
    }
}
/*================SERVICES=====================*/
.services{
    display:flex;
    flex-wrap:wrap;
}
.service-child{
    padding:5px;
    background-color:#f2f2f2;
    min-height:552px;
}
.service-child h2{
    color:#333;
    padding: 3rem 0;
}
.service-child p{
    color:#878787;
    margin-top:26px;
}
.service-child *{
    text-align:left;
}
.service-child a{
    text-align: end;
    margin-top:26px;
}
.services > *{
    flex:1 1 100%;
    flex-basis:18.75rem; /*or 300px. To be exact- 346.66px or 21.66rem*/
}
